<!-- app/views/messages/index.html.erb -->
<h1>Chat with Flat Rental Owner</h1>

<div id="chat-mmessages">
  <!-- Messages will be displayed here -->
</div>

<form id="new-mmessage-form">
  <input type="text" id="mmessage-content" placeholder="Type your message...">
  <button type="submit">Send</button>
</form>
