<h1>Editing flat rental</h1>

<%= render "form", flat_rental: @flat_rental %>

<br>

<div>
  <%= link_to "Show this flat rental", @flat_rental %> |
  <%= link_to "Back to flat rentals", flat_rentals_path %>
</div>
